@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// _mixins.scss
@mixin flex($justify: flex-start, $align: stretch, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}
