@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// _mixins.scss
@mixin flex($justify: flex-start, $align: stretch, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flex-align-center{
  display: flex;
  align-items: center;
}

@mixin flex{
  display: flex;
}

@mixin flex-space-between{
  display: flex;
  justify-content: space-between;
}
@mixin flex-justify-center{
  display: flex;
  justify-content: center;
}
 
                                                                                                                                                                                                                                      