* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header-container {
  background: #F5F7FA;
}

.centered-container {
  width: 80vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 50px;
}
.nav-list a {
  text-decoration: none;
  color: #ffffff;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.primary-button {
  background: #4CAF4F;
  color: #fff;
}

.secondary-button {
  background: transparent;
  color: #4CAF4F;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section {
  padding: 22px 0;
}

.heading-1 {
  font-size: 36px;
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.para {
  font-size: 16px;
  color: #717171;
}

.care-desc {
  width: 630px;
  margin: 0 auto;
  margin-top: 16px;
}

.care-container {
  padding-top: 48px;
}

.care-image-container {
  position: relative;
  width: 368px;
}

.care-text {
  position: absolute;
  background: #F5F7FA;
  width: 80%;
  left: 10%;
  height: 135px;
  top: 68%;
  border-radius: 6px;
  text-align: center;
  padding: 45px;
  box-sizing: border-box;
}

.care-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0px;
}

footer {
  background-color: #263238;
  color: #ffffff;
  padding: 64px 165px;
  width: auto;
  height: auto;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: silver;
  font: inter;
  font-size: 14px;
  padding-bottom: 12px;
}

.footer-col h1, h4 {
  margin-bottom: 24px;
}

.footer-brand img {
  margin-bottom: 42px;
}

.footer-socials {
  margin-top: 40px;
}

.footer-socials a {
  margin-right: 10px;
  gap: 10px;
}

.email-form {
  display: flex;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #3f4549;
}

.email-form input[type=email] {
  flex-grow: 1;
  padding: 12px 15px;
  border: none;
  background-color: transparent;
  color: #ffffff;
}
.email-form input[type=email]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.email-form button[type=submit] {
  padding: 12px 15px;
  border: none;
  background-color: transparent;
}
.email-form button[type=submit] .fas.fa-paper-plane {
  color: #ffffff;
  font-size: 18px;
  margin-top: 2px;
}

.client-section {
  padding: 50px 20px;
  text-align: center;
}
.client-section h1 {
  margin-bottom: 5px;
}
.client-section p {
  color: gray;
  font-size: 11px;
  margin-bottom: 10px;
}

.feature-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.feature-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.feature-image-column,
.feature-text-column {
  flex: 1 1 45%;
}

.feature-illustration {
  max-width: 100%;
  height: auto;
  display: block;
}

.feature-section {
  padding: 80px 0;
  background-color: #ffffff;
}

.feature-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

.feature-image-column,
.feature-text-column {
  flex: 1 1 45%;
}

.feature-illustration {
  padding-left: 68px;
  height: 174px;
  width: auto;
}

.feature-paragraph {
  color: gray;
  font-size: 8px;
  margin-top: 5px;
  margin-bottom: 11px;
}

.client-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 127px;
}

/*# sourceMappingURL=main.css.map */
