.achievements {
  width: 1440;
  height: 288;
  justify-content: space-between;

  opacity: 1;
  padding:64px 144px;
  

  &-stats {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columns
    grid-template-rows: repeat(2, 1fr); // 2 rows
    gap: 40px;

    .stat-item {
      
      @include flex-align-center;
      gap: 16px;
      width: 255;
      height: 60;

      opacity: 1;
      

      img {
        width: 48px;
        height: 48px;
      }
      h3 {
        font-weight: 700;
        font-style: Bold;
        font-size: 28px;

        color: $text-dark;
        line-height: 36px;
        letter-spacing: 0%;
      }
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: $text-gray;
        line-height: 24px;
        letter-spacing: 0%;
      }
    }
  }

  &-text {
    padding-right: 10px;
    h1 {
      color: $text-dark;
      font-weight:$semi-bold;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0%;
    }
    span {
      display: block;
      color: $primary-color;
      font-family: Inter;
      font-weight:$semi-bold;
      
      font-size: 36px;
      line-height: 44px;
      letter-spacing: 0%;
    }
    p {
      color: $text-darker;
    }
  }

  &-container {
    gap: 72px;
    width: 1440;
    height: 288;
    background-color: $bg-gray;
    
    
    @include flex-space-between;
    flex-direction: row;
    opacity: 1;
    padding: 64px 144px;
    
  }
}
