.calender {
  &-container {
    
    @include flex-space-between;
    max-width: 1440;
    max-height: 433.3990173339844;
    
    gap: 49px;
    opacity: 1;
    padding: 48px 144px;

    &-text {
      padding: 62px 0px;
      h1 {
        font-weight:$semi-bold;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: 0%;
        color: #4d4d4d;
        margin-bottom: 16px;
      }
      p {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        color: $text-gray;
        line-height: 20px;
        letter-spacing: 0%;
        margin-bottom: 32px;
      }
      button {
        background-color: $primary-color;
        padding: 14px 32px;
        color: white;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        vertical-align: middle;
        border: none;
      }
    }
  }
}
