.community-section {
     font-family: "Inter", sans-serif;;
  header {
    text-align: center;
    
    
    >p{
        margin-top: 9px;
    }
  }
  .centered-container {
    max-width: 1440px;
  }
  .community-header {
    h2 {
      color: #4d4d4d;
      font-size: 36px;
      font-weight:$semi-bold; //semibold
      line-height: 44px;
    }
    p {
      color: $text-gray;
      font-weight: 400;
    }
  }

  .community-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 127px;
    margin-top: 40px;

    article {
      
      
      text-align: center;
      border-radius: 8px;
      padding: 24px 32px;
      box-shadow: 0 2px 4px 0px #abbed133;
      > div {
        h3 {

          
          height: 72px;
          font-weight: 700;
         
          font-weight: 700;
          font-size: 28px;
          

          line-height: 36px;
          
          text-align: center;
        }
        
      }
      >p {
          
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          color: grey;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: center;
        }
    }
  }
}
