.customer-container {
  background-color: $bg-gray;
  @include flex-align-center;
  

  width: 1440;
  height: 390;

  opacity: 1;
  padding: 32px 144px;
  
  gap: 78px;
}

.customer-text {
  p {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: $text-gray;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 16px;
  }
  h2 {
    font-weight:$semi-bold;
    
    font-size: 20px;
    color: $primary-color;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 8px;
  }
  h3 {
    color: #89939e;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
