

/* Hero Section */

// /* Auto layout */
// display: flex;
// flex-direction: row;
// align-items: center;
// padding: 96px 144px;
// gap: 104px;

// width: 1440px;
// height: 599px;

// background: #F5F7FA;

// /* Inside auto layout */
// flex: none;
// order: 0;
// align-self: stretch;
// flex-grow: 0;

.hero-banner{
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    max-height: 599px;
    padding: 96px 144px;
    align-items: center;
    justify-content: space-between;
    gap:100px;



    

    .hero-banner-text{
        
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 657px;
        max-height: 276px;
    
    
        h1{
        color:#4D4D4D;
        font-weight: 600;
        font-size: 64px;
        line-height: 76px;
        }
        span{
            display: block;
            color: #4CAF4F;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 24%;
            font-style: regular;
            letter-spacing: 0%;
            color:#717171;
        }
        button{
            align-self: flex-start;
            background-color: #4CAF4F;
            padding: 14px 32px;
            border-radius: 4px;
            color:white;
            border: none;
        }
        
    }
    .hero-banner-image{

        flex:1;
        display:flex;
        justify-content: center;
        width:399px;
        height: 380px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        
        
    }
}